@charset "ISO-8859-1";

.divMain {
	position : relative;
	width : 100%; height : 100%;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;  
}

.divMain > div   {
	position : relative;
	height : 100%;
	width: 100%;
	border : 2px solid white; 
	overflow: auto;
	
}

.reg1, .reg2, .reg3 {
	position: relative;
	max-height: 100%;
	display: flow;
	flex-direction: column;
	overflow-y: auto;
}

.eventTuile{
	position : relative;
	width : 100%; height : 75px;
	margin-bottom: 5px;
	background-color: rgb(120,120,120);
}

.comboReg{
	display:flex;
	justify-content: center;
	align-items: center;
	height:50px;
}

#comboReg{
	height:25px;
	width: 100px;
}
